/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-10-2015, 19:37:38
    Author     : Joseline
*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background: #329BC9;
    background-image: url("http://petchow.icibiobio.cl/files/img/fondo.gif");
}
#Contenedor{
    background: #CFF4FE;
    height: 600px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background: #329BC9;
    height: 102px;
    width: 900px;
}
#Menu{
    background:#1E57F5;
    width: 900px;
    height: 40px;
    margin: auto;
    font-family: Arial;
    font-size: 14px;
}
#banner{
    background: #389DBC;
    height: 235px;
    width: 900px;
}
ul, ol {
    list-style:none;
}
.nav li a {
    height: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color:#1E57F5;
    color:#fff;
    text-decoration:none;
    padding: 10px 15px 0px 15px;
    display:block;
    position: relative;
    z-index: 12;
}
.nav > li {
    float:left;
    padding: 0px;
    height: 30px;
}
.nav li a:hover {
    background-color: #F6A122; 
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:120px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    right:-120px;
    top:0px;
}
#Contenido{
    background: #CFF4FE;
    height: 600px;
    width: 900px;
}
#quienesSomos{
    background: #CFF4FE;
    height: 600px;
    width: 550px;    
    font-family: Arial;    
    font-size: 15px;
    padding:7px 30px 30px 30px;
    text-align: justify;
}
#imagen{
    padding: 214px 30px 30px 60px;
    height: 600px;
    width:150px;
}
#bienvenido{
    height: 100px;
    width:900px;
    text-align: center;
 }
 
#publi{
    height: 450px;
    width:220px;
    padding: 0px 30px 30px 30px;
}
#publi2{
    height: 450px;
    width:280px;
    padding: 0px 30px 30px 30px;
}
#publi3{
    height: 450px;
    width:400px;
    padding: 0px 30px 30px 50px;
}
#contacto{
    background: #CFF4FE;
    height: 600px;
    width: 900px;        
    padding: 0px 30px 30px 30px;    
}
#datosContacto{
    text-align: center;
    font-family: Arial;    
    font-size: 16px;
}
#mapa{
    padding-top: 30px;
    text-align: center;
}

.cubo{
    width: 420px;
    float: left;
}
footer{
    background:#13C0F0;
    width: 900px;
    height: 45px;
    padding-top: 15px
}
footer p{
    font-family: arial;
    font-size: 10px;
    text-align: center;
}
div.login{
    float: left;
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}
div.formulario-ingreso{
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
    background: #13C0F0;
    padding: 25px;
}
div.boton-login{
    text-align: center;
}
.fitem{
    height: 25px;
}
.fitem input{
    float: right;
}
.fitem2{
    height: 25px;
}
.fitem select{
    float: right;
}
